//fonts

%main-top-header-font {
  color: #45852d;
  font-family: Open Sans, sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  letter-spacing: 1px;
}

%header-font {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #363636;
}

%text-font {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #363636;
}

//padding

%product-card-padding {
  padding: 15px 20px 17px 20px;
}

//vars

$border-color: #D8D8D8;